.headercontainer {
 display: flex;
 font-family: Verdana;
 align-items: center;
 font-size: 14px;
 font-weight: bold;
 width: 100%
 height: auto;
 border-bottom: 1px solid black;
 padding-bottom: 10px;
 padding-left: 20px;
}

.mytlogo span {
  color: MediumAquamarine;
  position: relative;
  bottom: 25px;
  padding: 10px;
}

.mytlogo {
  flex-grow: 1;
}

.navitems span {
 padding: 10px;
}
.navitems {
  margin-right: 30px;
  color: black;
}

a {
  color: black;
}
.columnlarge {
  width: 630px;
  border: 0.5px solid black;
  margin-top: 30px;
  margin-bottom: 50px;
}
.columnmedium {
  width: 300px;
}
.columnsmall {
  width: 240px;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}
.imagehl1 {
  border: 1px solid black;
}
.storyform2 {
  border: 2px solid black;
}
